.cellContainerDead {
  display: flex;
  padding: 10px;
  margin: 1px;
  border: 1px solid black;
}
.cellContainerLive {
  display: flex;
  padding: 10px;
  margin: 1px;
  border: 1px solid black;
  background-color: black;
}
.boardContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 60px;
}
.row {
  display: flex;
  flex-direction: row;
}
.gameContainer {
  background-color: white;
  padding: 2rem;
  margin: 5rem 8rem;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 65px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 65px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 65px 0px rgba(0, 0, 0, 0.75);
}
.gameContainer h1 {
  padding: 1rem;
}
.mobile-disclaimer {
  display: none;
}
@media screen and (max-width: 768px) {
  .gameContainer {
    margin: 2rem 0;
    padding: 1rem 0.5rem;
  }
  .mobile-disclaimer {
    display: inline;
    color: firebrick;
  }
}
body {
  background-color: #0b47a1;
}
.mainContainer {
  padding: 2rem;
  margin: 0 15rem;
  position: absolute;
  top: 50px;
  z-index: 3;
  color: white;
}
#tsparticles {
  z-index: -1;
}
.universeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-head {
  text-align: center;
}
.gridControls {
  text-align: center;
}
.gridControls form {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.gridControls form p {
  margin: 1rem;
  font-weight: bold;
}
.main-contorls {
  text-align: center;
  margin: 2rem;
}
.main-contorls button {
  margin: 1rem;
}
.about-links {
  color: white;
}
.about-links:hover {
  color: #ddccff;
}
.about-section {
  text-align: center;
  padding: 2rem;
  margin: 0 9rem;
}
.rules-section {
  text-align: center;
  margin: 2rem 9rem;
}
.rules-section ol li {
  text-align: left;
  padding: 0.1rem 0;
}
.gamebtn {
  color: white;
  text-decoration: none;
}
.homebtn {
  color: white;
  text-decoration: none;
}
.info-link {
  color: white;
}
.info-link:hover {
  color: #ddccff;
}
@media screen and (max-width: 768px) {
  .mainContainer {
    padding: 1rem 0;
    margin: 0rem;
    margin-bottom: 1rem;
  }
  .about-section {
    margin: 0rem;
  }
  .rules-section {
    margin: 0rem;
  }
}
